[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/node_exporter

[Install]
WantedBy=multi-user.target
