[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/prometheus --config.file=/etc/prometheus/prometheus.yml

[Install]
WantedBy=multi-user.target
